database:
    host: <your config here>
    name: <your config here>
    user: <your config here>
    password: <your config here>
    charset: <your config here>

jobby:
    debug: false
    log: '../logs/command.log'

slack:
    hook_url: https://hooks.slack.com/services/<hook>

spotify:
    client_id: <your config here>
    client_secret: <your config here>
    redirect_URI: <your config here>
    playlist_id: // id of playlist you want to share (Get it from a Spotify-share url)
    user_id: // Username of playlist owner
    share_url: https://open.spotify.com/track/
